.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
  :hover,
  :focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__menu {
    margin-left: auto;
    border: transparent;
    background-color: transparent;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  &__part {
    color: var(--accent-color);
  }
}

.navigation {
  display: none;
  &__list {
    display: flex;
    column-gap: 50px;
    a {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    position: relative;
    a {
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: 0.02em;
      color: var(--primary-color);
    }
    .current {
      color: var(--accent-color);
      position: relative;
      &::after {
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: var(--accent-color);
        position: absolute;
        bottom: -1px;
      }
    }
  }
}

.navigation-contacts {
  display: none;
  // display: flex;
  // margin-left: auto;
  // column-gap: 30px;
  a {
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #757575;
    fill: #757575;
  }
  &__item {
    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 5px 48px 15px;
  @include mobile {
    padding: 10px 15px 48px 40px;
  }
  &__close {
    border: transparent;
    background-color: transparent;
    display: block;
    margin-left: auto;
    padding: 0 0;
  }
  >.menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top-wrap {
    width: 100%;
  }
}

.menu-navigation {
  &__list {
  }
  &__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__link {
    color: var(--primary-color);
  }
  &__current {
    color: var(--accent-color);
  }
}

.menu-contacts {
  &__item {
    a {
      font-weight: 500;
      font-size: 28px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: var(--accent-color);
      @include mobile {
        font-size: 32px;
      }
    }
    &:not(:first-child) {
      a {
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #757575;
      }
      margin-top: 32px;
      :hover, :focus {
        color: var(--accent-color);
      }
    }
  }
}

.menu-soc {
  margin-top: 64px;
  display: flex;
  &__item {
    font-weight: 500;
    font-style: 14px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    @include mobile {
      font-size: 18px;
    }
    a {
      color: var(--accent-color);
    }

    &:not(:last-child) {
      ::after {
        content: "";
        width: 0;
        height: 22px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        margin-left: 5px;
        margin-right: 5px;
        @include mobile {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}
