.portfolio {
  padding-top: 100px;
  padding-bottom: 94px;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 8px;
}

.portfolio-btn {
  button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 8px;
    background: #f5f4fa;
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
  }
  :hover,
  :focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-gallery {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.portfolio-gallery-item {
  background: #ffffff;
  width: 370px;
  cursor: pointer;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  position: relative;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    .portfolio-gallery-top-text {
      transform: translateY(0%);
    }
  }
}

.portfolio-gallery-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-gallery-top-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transition-duration: 250ms;
  overflow: auto;
}

.portfolio-gallery-desc {
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-gallery-desc {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-gallery-category {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
